{% extends 'base.html.twig' %}

{% block title %}MicImmo - Edition -{{ property.title }} - {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row table-container">

            <div class="col-sm-3">
                {% include 'includes/leftmenu.html.twig' %}
            </div>
            <div class="col-sm-9">
                <ul class="list-group">
                    <h1 href="#" class="h1-titre list-group-item list-group-item-primary active">
                        <i class="fas fa-home"></i> Edition du bien {{ property.title }} :
                    </h1>

                    <li class="list-group-item">
                        {{ include ('admin_property/_form.html.twig', {form: form, button: 'Ajouter'}) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

